require('dotenv').load();

module.exports = {
    PORT: process.env.PORT,
    MONGO_URI: process.env.MONGO_URI,

    NAMESPACE: 'http://yourapp.com/roles',
    AUTH0_DOMAIN: 'https://yourdomain@auth0.com/',
    AUTH0_API_AUDIENCE: 'http://localhost:5555/api/'
}